* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.label {
  border: solid;
  border-color: hsl(220, 15%, 55%);
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: hsl(220, 15%, 55%);
}
.content {
  background: white;
  text-align: center;
  border: solid;
  border-radius: 10px;
  border-color: rgb(225 225 225);
  padding: 10px;
}
img {
  width: 100%;
}
h2 {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}
p {
  font-size: 10px;
  color: hsl(212, 19%, 40%);
}
